.item {
  text-align: center;
}

#cal h1 {
  font-size: 3.5rem;
  font-weight: 100;
  
} 

.city {
  font-size: 2.8rem;
  font-weight: 300;
  color: steelblue;
}

.time {
  font-size: 4rem;
  font-weight: 100;
  margin-top:1rem;
}
